#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  background-color: lightblue;
  height:30px;
  width:100%
}
#result {
  background-color: lightgreen;
  height:30px;
  width:100%
}

button {
  margin: 2%;
}

#app {
  margin-top:5%;
  width: 130px;
}